<!DOCTYPE html>
<html>
  <head>
    <title>CarConfiguratorWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= yield %>

    <br><br><br><br>

    <%= link_to "Modelos", :modelos %>
    <br><br>
    <%= link_to "Colors", :colors %>
    <br><br>
    <%= link_to "Tapicerium", :tapiceria %>
    <br><br>
    <%= link_to "Extras", :extras %>
    <br><br>

  </body>
</html>
